In [1]:
# SWAMI KARUPPASWAMI THUNNAI

# Imputing the missing values

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
dataset = pd.read_excel("dataset_2.xlsx")

In [4]:
dataset.head()

    Name  Gender
0    Tim     1.0
1    Ben     1.0
2  Smith     1.0
3   John     NaN
4  Peter     1.0

In [5]:
missing_col = dataset.iloc[:, 1:2]

In [6]:
imputer = SimpleImputer(strategy="most_frequent")

In [7]:
missing_col = imputer.fit_transform(missing_col)

In [8]:
missing_col

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [2.]])