In [1]:
# SWAMI KARUPPASWAMI THUNNAI

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.svm import SVC

C:\Users\Kanchana\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
C:\Users\Kanchana\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [5]:
dataset = pd.read_csv("train.tsv", delimiter="\t")

In [6]:
dataset.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [7]:
dataset.Sentiment.unique()

array([1, 2, 3, 4, 0], dtype=int64)

In [8]:
"""
0 - negative
1 - somewhat negative
2 - neutral
3 - somewhat positive
4 - positive
"""

'\n0 - negative\n1 - somewhat negative\n2 - neutral\n3 - somewhat positive\n4 - positive\n'

In [9]:
y = dataset.iloc[:, -1]

In [11]:
X = dataset.iloc[:, 2:3]

In [13]:
from nltk.tokenize import TweetTokenizer

In [14]:
tokenizer = TweetTokenizer()