In [1]:
# SWAMI KARUPPASWAMI THUNNAI

import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
dataset = pd.read_excel("dataset.xlsx")

In [3]:
dataset.head()

  Country Name
0       France
1      Belgium
2       France
3        Itlay
4        India

In [4]:
data = dataset.iloc[:, 0:1]

In [5]:
encoder = LabelEncoder()

In [6]:
data = encoder.fit_transform(data)

C:\Users\abc\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
data

array([1, 0, 1, 4, 3, 1, 2])